.biggest-event {
  position: relative;
  padding: 70px ;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  
  background-image: url('/public/images/worldcup.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.slide {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn {
  background-color: #d4a72c;
  color: white;
}

.secondary-btn {
  background-color: white;
  color: #d4a72c;
}

.slick-slider {
  position: relative;
}

.slick-dots {
  bottom: 10px;
}
