.biggest-event {
    display: flex;
    align-items: center; /* Aligner verticalement le contenu */
    justify-content: center; /* Centrer le contenu horizontalement */
    height: 550px; /* Hauteur de l'écran */
    background-image: url('/public/images/worldcup.png'); /* Remplacez par l'image correcte */
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding-bottom: 30px; 
    position: relative;
  }
  
  .description{
    color: whitesmoke;
    padding: 20px;
    padding-left: 30px;
  }
  .content {
    max-width: 1500px;
    z-index: 2;
    align-items: left;

  }
  
  .title {
    font-size: 2.8rem; /* Taille du titre */
    font-weight: bold;
    margin-bottom: 20px; 
    padding-bottom: 50px;
    text-align: center;
  }
  
  .description {
    font-size: 1.2rem; /* Taille de la description */
    line-height: 1.6;
    margin-bottom: 30px; 
    padding-bottom: 50px;

  }
  
  .buttons {
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center;
    
  }
  
  .btn {
    font-size: 1rem;
    padding: 18px 55px; /* Taille des boutons */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold; /* Texte en gras */
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .primary-btn {
    background-color: #d4a72c; 
    color: rgb(255, 255, 255);
    border: none;
  }
  
  .primary-btn:hover {
    background-color: #b58f23; /* Couleur dorée plus sombre */
    transform: scale(1.05); /* Agrandissement au survol */
  }
  
  .secondary-btn {
    background-color: #d4a72c;
    color: #ffffff;
    border: 2px solid #d4a72c;
  }
  
  .secondary-btn:hover {
    background-color: #d4a72c;
    color: white; /* Texte blanc */
    transform: scale(1.05);
  }
  
  /* Overlay sombre pour une meilleure lisibilité */
  .biggest-event::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Couche sombre */
    z-index: 1;
  }
  