/* Navbar initial (transparent) */
.navbar {
  background-color: #0136a4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 10px 20px;
}

/* Navbar scrolled */
.navbar.scrolled {
  background-color: #0136a4; /* Change background color */
}

/* Navbar brand (logo/text) */
.navbar-brand {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-brand:hover {
  color: #8C431D;
}

/* Links styles */
.navbar-nav .nav-link {
  color: white;
  font-size: 1rem;
  margin: 0 10px;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffcc00;
}

/* Icons styles */
.navbar-nav .icon {
  font-size: 1.2rem;
  color: white;
  margin-right: 5px;
  transition: color 0.3s ease;
}

.navbar-nav .icon:hover {
  color: #ffcc00;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ffcc00;
  
}

/* Responsive navbar */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 3px;
}

/* Ajuster la visibilité et l'alignement sur mobile */
@media (max-width: 767px) {
  .navbar-toggler {
    position: absolute; 
    right: 10px;
    top: 5px;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0; 
    width: 60%; /* Ajuste la largeur du menu déroulant */
    background-color: #0136a4; /* Fond bleu */
    padding-top: 20px; /* Espacement pour éviter le chevauchement avec la barre supérieure */
    display: flex;
    flex-direction: column; /* Empile les éléments du menu verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: flex-start; /* Aligner les éléments du menu vers le haut */
  }

  .navbar-nav {
    width: 100%; /* Les éléments prennent toute la largeur du menu */
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
  }

  .navbar-nav .nav-link {
    text-align: center; /* Centre le texte dans chaque lien */
    padding: 15px 0; 
    width: 100%; 
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .navbar-nav .nav-link:hover {
    background-color: #8C431D; /* Fond au survol */
  }
}
